@import url('https://fonts.googleapis.com/css?family=Cousine');

$bg-color: #F1F5F8;
$fg-color: #333;

body {
  font-family: 'Cousine', monospace;
  color: $fg-color;
}

input[type=checkbox] {
  -moz-appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid $fg-color !important;
  padding: 0;
  margin: 0 0.25rem 0 0;
  vertical-align: baseline;
}
