@import 'typography';

$wrapper-width: 600px;
$wrapper-padding: 2rem;
$wrapper-margin: 2rem;

body {
  background: $bg-color;
  display: flex;
  justify-content: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    background: white;
    width: $wrapper-width;
    height: 100%;
    padding: $wrapper-padding;
    margin: $wrapper-margin;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  }
}
